mat-card {
  float: left;
  width: 200px;
  height: 100%;
  margin: 20px 15px;
  padding-bottom: 10px;
}

mat-card-content .ingredient-list {
  height: 150px;
  overflow: auto;
  margin-bottom: 20px;
}

mat-chip {
  font-size: 10px;
  font-weight: bold;
}

button {
  margin: 10px 0;
}
