<mat-accordion>
  <mat-expansion-panel *ngFor="let menu of menus">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ menu.name }} - <i>{{ menu.price + "€" }}</i></mat-panel-title>

      <mat-panel-description>
        <button (click)="manageProduct(menu)" mat-button color="primary">Ajouter ce menu au panier</button>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-product *ngFor="let product of menu.products" [product]="product" [isMenu]="true"></app-product>
  </mat-expansion-panel>
</mat-accordion>
