mat-form-field {
  width: 500px;
  margin: 0 20px;
}

mat-table {
  width: 100%;
}

mat-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-table {
  width: 100%;
  text-align: center;
}

.item-table th, .item-table td {
  border: 1px solid #000;
}

.item-table a {
  text-decoration: none;
  color: #424242;
}

.smallColumn {
  flex: 0 0 200px;
}

.theme-menu { background: #4DB6AC; }
.theme-product { background: #64B5F6; }
.theme-product-price { background: #FFF176; }
.theme-product-price-unity { background: #FDD835; }
.theme-product-price-total { background: #F9A825; }
.theme-price-total { background: #CE93D8; }
.theme-quantity { background: #EF5350; }
