<app-login *ngIf="(!token);else manager" (tokenEvent)="receiveToken($event)"></app-login>

<ng-template #manager>
  <mat-card>
    <mat-checkbox [(ngModel)]="visibilityToken">{{ visibilityToken ? "Cacher le token" : "Visualiser le token" }}</mat-checkbox>

    <mat-form-field>
      <input matInput [type]="visibilityToken ? 'text' : 'password'" [value]="token">
    </mat-form-field>

    <button mat-button (click)="disconnect()">Déconnecter</button>
  </mat-card>

  <mat-card *ngIf="dataSource">
    <mat-grid-list cols="2">
      <mat-grid-tile [colspan]="2">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="_id">
            <mat-header-cell *matHeaderCellDef ngClass="smallColumn">id</mat-header-cell>
            <mat-cell *matCellDef="let element" ngClass="smallColumn">{{ element._id }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef ngClass="smallColumn">Heure de la commande</mat-header-cell>
            <mat-cell *matCellDef="let element" ngClass="smallColumn">{{ getLocalDate(element.createdAt) }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="menus">
            <mat-header-cell *matHeaderCellDef>
              <table class="item-table">
                <tbody>
                  <tr>
                    <table class="item-table">
                      <thead>
                        <tr>
                          <th colspan="2" class="theme-menu">Menu</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th class="theme-product">Produit</th>
                          <th class="theme-product-price">Prix à l'unité</th>
                        </tr>
                      </tbody>
                    </table>
                    <th class="theme-product-price-unity">Prix à l'unité</th>
                    <th class="theme-quantity">Quantité</th>
                    <th class="theme-product-price-total">Prix total par menu</th>
                  </tr>
                <tr>
                  <th colspan="4" class="theme-price-total">Prix total</th>
                </tr>
                </tbody>
              </table>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <table class="item-table" *ngIf="element.menus.length">
                <tbody>
                  <tr *ngFor="let orderMenu of element.menus">
                    <table class="item-table">
                      <thead>
                        <tr>
                          <th colspan="2" class="theme-menu">{{ orderMenu.menu.name }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let product of orderMenu.menu.products">
                          <td class="theme-product"><a [routerLink]="'/products/' + product._id">{{ product.name }}</a></td>
                          <td class="theme-product-price">{{ product.price + "€" }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <td class="theme-product-price-unity">{{ orderMenu.menu.price + "€" }}</td>
                    <td class="theme-quantity">{{ orderMenu.quantity }}</td>
                    <td class="theme-product-price-total">{{ (orderMenu.menu.price * orderMenu.quantity) + "€" }}</td>
                  </tr>
                  <tr>
                    <th colspan="4" class="theme-price-total">{{ getPriceForAllMenus(element.menus) + "€" }}</th>
                  </tr>
                </tbody>
              </table>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="products">
            <mat-header-cell *matHeaderCellDef>
              <table class="item-table">
                <tbody>
                  <tr>
                    <th class="theme-product">Produit</th>
                    <th class="theme-product-price-unity">Prix à l'unité</th>
                    <th class="theme-quantity">Quantité</th>
                    <th class="theme-product-price-total">Prix total par produit</th>
                  </tr>
                  <tr>
                    <th colspan="4" class="theme-price-total">Prix total</th>
                  </tr>
                </tbody>
              </table>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <table class="item-table" *ngIf="element.products.length">
                <tbody>
                <tr *ngFor="let orderProduct of element.products">
                  <td class="theme-product"><a [routerLink]="'/products/' + orderProduct.product._id">{{ orderProduct.product.name }}</a></td>
                  <td class="theme-product-price-unity">{{ orderProduct.product.price + "€" }}</td>
                  <td class="theme-quantity">{{ orderProduct.quantity }}</td>
                  <td class="theme-product-price-total">{{ (orderProduct.product.price * orderProduct.quantity) + "€" }}</td>
                </tr>
                <tr>
                  <th colspan="4" class="theme-price-total">{{ getPriceForAllProducts(element.products) + "€" }}</th>
                </tr>
                </tbody>
              </table>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef ngClass="smallColumn">Actions</mat-header-cell>
            <mat-cell *matCellDef="let element" ngClass="smallColumn">
              <button (click)="updateOrder(element._id, 'done')" mat-raised-button color="primary">Livrer</button>
              <button (click)="updateOrder(element._id, 'cancel')" mat-raised-button color="warn">Annuler</button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="['_id', 'date', 'menus', 'products', 'actions']"></mat-header-row>
          <mat-row *matRowDef="let row, columns: ['_id', 'date', 'menus', 'products', 'actions'];"></mat-row>
        </mat-table>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</ng-template>
