<mat-card>
  <mat-grid-list cols="2">
    <mat-grid-tile [colspan]="1">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef>Quantité</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.quantity }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Produit</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.menu ? element.menu.name : element.product.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="unitPrice">
          <mat-header-cell *matHeaderCellDef>Prix à l'unité</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.menu ? displayPrice(element.menu.price) : displayPrice(element.product.price) }}€</mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
          <mat-header-cell *matHeaderCellDef>Prix total par produit</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ displayPrice((element.menu ? element.menu.price : element.product.price) * element.quantity) }}€</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button *ngIf="element.product; else removeMenuTemplate" (click)="removeProduct(element.product)" mat-button color="warn">[ retirer ]</button>
            <ng-template #removeMenuTemplate>
              <button (click)="removeMenu(element.menu)" mat-button color="warn">[ retirer ]</button>
            </ng-template>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['quantity', 'name', 'unitPrice', 'totalPrice', 'action']"></mat-header-row>
        <mat-row *matRowDef="let row, columns: ['quantity', 'name', 'unitPrice', 'totalPrice', 'action'];"></mat-row>
      </mat-table>
    </mat-grid-tile>

    <mat-grid-tile class="side-actions" [colspan]="1">
      <table>
        <tr>
          <td colspan="2">{{ displayPrice(total) }}€</td>
        </tr>
        <tr>
          <td>
            <button (click)="runOrder()" mat-button color="primary">Finaliser la commande</button>
          </td>
          <td>
            <button (click)="cancelOrder()" mat-flat-button color="warn">Annuler la commande</button>
          </td>
        </tr>
      </table>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
