mat-card.header {
  background-color: #424242;
  color: rgba(255, 255, 255, .6);
  height: 210px;
}

mat-card.populars {
  width: 100px;
  float: left;
  margin-right: 20px;
  cursor: pointer;
}

mat-card.populars:last-child {
  margin-right: 0;
}
