.login-card {
  position: absolute;
  top: 300px;
  left: 50%;
  width: 325px;
  height: 470px;
  margin-left: -162.5px;
  margin-right: -162.5px;
  margin-bottom: 40px;
}

.login-input, .password-input {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

button {
  float: right;
}
