<mat-card class="login-card">
  <img mat-card-image src="assets/home-logo.jpg" alt="Logo mcdo">
  <mat-card-actions>
    <mat-form-field class="login-input">
      <input matInput placeholder="Login" (keydown)="enterPress($event)" [(ngModel)]="login">
    </mat-form-field>

    <mat-form-field class="password-input">
      <input matInput type="password" placeholder="Password" (keydown)="enterPress($event)" [(ngModel)]="password">
    </mat-form-field>

    <button mat-button (click)="connect()">Se connecter</button>
  </mat-card-actions>
</mat-card>
