.home-card{
  position: absolute;
  top: 370px;
  left: 50%;
  width: 325px;
  height: 370px;
  margin-left: -162.5px;
  margin-right: -162.5px;
  margin-bottom: 70px;
}

mat-card-content {
  font-style: italic;
  font-weight: bold;
}
